.card-grid {
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header {
    padding: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(182, 182, 182);
}

.search{
    padding: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.search input {
    background: #f2f2f2;
    border: 0;
    padding: 0.2rem;
    box-sizing: border-box;
    font-size: 14px;
}