

.card {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  align-content: center;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 6px;
  background-color: white;
}
  
  .card:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.685);
  }
  
  img {
    max-height: 170px;
  }

  .container {
    padding: 2px 16px;
  }

  .card-info{
    margin: 3px;
    display: flex;
    flex-direction: column;
  }

  .label-gray{
    font-size: 14px;
    color: rgb(161, 161, 161);
    font-weight: bold;
  }
  .label-black{
    font-size: 12px;
    color: rgb(43, 43, 43);
    font-weight: bold;
  }

  button {
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #109cbe;
    border: 0;
    padding: 5px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}